# Ignore all vscode stuff
**/.vscode

# Ignore Mac specific stuff
**/.DS_Store

# Intermediate cpython stuff
**/*.pyc
**/.ipynb_checkpoints

# Random files and directories
**/Lesson05/scripts/Cat_Dog_data
